<div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 1.75rem;">
  <div class="container-small">
    <h3>Rentals</h3>
    <div class="table table-hover">
      <table table class="table table-striped table-sm"> 
        <thead>
          <tr>
            <th>BrandName</th>
            <th>Model Name</th>
            <th>Customer</th>
            <th>Rent Date</th>
            <th>Return Date</th>
          </tr>
        </thead>
        <tr *ngFor="let rental of rentalDetails">
          <td>{{rental.brandName}}</td>
          <td>{{rental.modelName}}</td>
          <td>{{rental.customerName }}</td>
          <td>{{rental.rentDate | date: 'dd/MM/yyyy, h:mm a'}}</td>
          <td>{{rental.returnDate | date: 'dd/MM/yyyy, h:mm a'}}</td>

        </tr>
      </table>
    </div>
  </div>
</div>