<div class="container">
  <app-navi></app-navi>
  <div class="container-small">
    <div class="row">
      <div class="col-md-3">
        <div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 1.75rem;">
          <div class="container-small">
            <ul class="list-group">
              <app-brand></app-brand>
              <app-color></app-color>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">        
        <router-outlet></router-outlet>
 
      </div>
    </div>
  </div>
</div>