<div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 1.75rem;">
  <div class="container-small">
    <h2>Car Rental List</h2>
    <div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="table table-hover table-responsive-sm">
      <table *ngIf="dataLoaded == true" table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Brand Name</th>
            <th>Model Name</th>
            <th>Model Year</th>
            <th>Color Name</th>
            <th>Daily Price</th>
          </tr>
        </thead>
        <tr (click)="setCurrentCar(carDetail)" routerLink="/cars/cardetail/{{carDetail.carId}}"
          *ngFor="let carDetail of carDetails">
          <td>{{ carDetail.brandName }}</td>
          <td>{{ carDetail.modelName }}</td>
          <td>{{ carDetail.modelYear | date:'yyyy'}}</td>
          <td>{{ carDetail.colorName }}</td>
          <td>{{ carDetail.dailyPrice | currency: "TRY":"₺ ":""}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>